.unorderlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

.myDiv {
    border: 5px outset red;
    background-color: lightblue;    
    text-align: center;
  }

.customstyle {
    font-style: bold;
    font-size: 29px;
    text-align: center;
    text-decoration: underline;
}

.custom2 {
    color: rgb(161, 92, 9);
    font-weight: bolder;
}